[submodule "packages/icons/heroicons"]
	path = packages/icons/heroicons
	url = git@github.com:tailwindlabs/heroicons
[submodule "packages/icons/ionicons"]
	path = packages/icons/ionicons
	url = git@github.com:ionic-team/ionicons
