[submodule "packages/icons/heroicons"]
	path = packages/icons/heroicons
	url = https://github.com/tailwindlabs/heroicons.git
[submodule "packages/icons/ionicons"]
	path = packages/icons/ionicons
	url = https://github.com/ionic-team/ionicons.git
